<nav id="admin-nav">
    <h1>FinalSprint-Travel Admin Console</h1>
    <nav>
    <a href="/">Home</a>
    <a href="/admin_dashboard">Admin Home</a>
    <a href="/add_resort">Add Resort</a>
    <a href="#Edit-Delete-Section">Edit / Delete Resort</a>
</nav>
</nav>