<nav>
    <h1>FinalSprint-Travel</h1>
    <a href="/">[home]</a>
    <a href="/userlogin">[user login]</a>
    <a href="/adminlogin">[admin login]</a>
    <a href="/create">[create user]</a>
    <a href="/search">[search]</a>
</nav>