<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="add content">
            <form action="/resorts" method="POST">
                <label>Add Resort:</br>
                    <input type="text" name="name" required placeholder="Resort Name">
                    <input type="number" name="price" required placeholder="Price">
                    <input type="text" name="amenity" required placeholder="Amenity">
                    <textarea name="summary" rows="4" required placeholder="Summary"></textarea>
                    <select name="isFeatured" required>
                        <option value="true">Featured</option>
                        <option value="false">Not Featured</option>
                    </select>
                </label></br>
                <button type="submit">Add</button>
            </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>
