<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin.css" /> 
    <title>Admin Console</title>
</head>
<body>

    <nav id="admin-nav">
        <h1>FinalSprint-Travel Admin Console</h1>
        <nav>
        <a href="/">Home</a>
        <a href="/admin">Admin Home</a>
        <a href="/admin">Add</a>
        <a href="/admin">Edit/Delete</a>
    </nav>
    </nav>

    <h2 class="adminConsole-h2"><span class="adminConsole-span">Success!</span></h2>

    <p><%= resortName %> has been added to the database.</p>


    
  
     
       </div>
      
    </div>

    <script src="js/adminFrontEnd.js"></script>

    
</body>
</html>