<html lang="en">
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1></h1>
        <div class="api content">
            <ul>
                <li><a href="/api/logins">User Login</a> (READ)</li>
                <li><a href="/api/admin">Admin Login</a> (READ)</li>
                <li><a href="/api/create">Create User</a> (READ)</li>
                <li><a href="/api/search">Search</a> (READ)</li>
            </ul>
    
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>