<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="no-record content">
            <h2>No Records Found</h2>
            <p>We're sorry, but no records matching your search criteria were found.</p>
            <p>Please try again with different search terms or check back later.</p>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>
