<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinalSprint-Travel</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Welcome to our FinalSprint-Travel</h1>
    <p>Resorts</p>
</body>
<%- include('./partials/foot.ejs') %>
</html>
