<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin.css" /> 
    <title>User Console</title>
</head>
<body>

    <nav id="admin-nav">
        <h1>Travel Guru User Console</h1>
        <nav>
        <a href="/">Home</a>
    </nav>
    </nav>

    <div id="adminConsole">

        <form id="search-by-keyword-form-user">
            <label>Search by <span class="form_span">Keyword:</span> </label>
            <input type="text" id="search-by-keyword-input-user" />
            <button type="button" onclick="searchByKeywordUser()">Search</button>
        </form>

     
        

    </div>


    <script src="js/userFrontEnd.js"></script>

    
</body>
</html>